<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabi.projekt">

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <service -->
        <!-- android:name=".Kroki" &lt;!&ndash; Service name as written on class&ndash;&gt; -->
        <!-- android:enabled="true" -->
        <!-- android:process=":Myprocess" &lt;!&ndash;Make it in a different process &ndash;&gt; -->
        <!-- android:exported="false" &lt;!&ndash;Other apps won't be able to use your Service&ndash;&gt; /> -->
        <service
            android:name=".Kroki"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Szybkosc"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>